 Smartphones (portrait and landscape) -----------
@media(min-device-width : 320px)and (max-device-width : 375px){
    .song_detail_wrapper{
          margin-bottom: 15px;
        }


}

@media(min-device-width : 375px)and (max-device-width : 425px){
    .song_detail_wrapper{
            margin-left: 27px;
            margin-bottom: 15px;
        }
}

@media(min-device-width : 425px){
    .song_detail_wrapper{
            margin-left: 30px;
            margin-bottom: 15px;
        }
} 