/*-----------stylesheet of myanmarmusicstore--------------------*/
/*
    Author: minnkoaung;
    Year : 2016;
    Version: 1.0;
*/
/* general Items */
@font-face {
    font-family: 'pyidaungsu';
    src: url('../fonts/PyidaungsuZawDecode.eot');
    src: url('../fonts/PyidaungsuZawDecode.eot?#iefix') format('embedded-opentype'), url('../fonts/PyidaungsuZawDecode.woff') format('woff'), url('../fonts/PyidaungsuZawDecode.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'zawgyi';
    src: url('../fonts/zawgyi-one.eot');
    src: url('../fonts/zawgyi-one.eot?#iefix') format('embedded-opentype'), url('../fonts/zawgyi-one.woff2') format('woff2'), url('../fonts/zawgyi-one.woff') format('woff'), url('../fonts/zawgyi-one.ttf') format('truetype'), url('../fonts/zawgyi-one.svg#zawgyi-oneregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.uni-font {
    font-family: 'pyidaungsu' !important;
}
/* -----------------------------Top-Bar Section -------------------------- */

.topbar-frame {
    min-height: 40px;
    background: #7C287D;
    padding: 5px 0 5px 0;
}
.topbar-frame .topbar-container {
    min-height: 40px;
}
/* ---------------------------- menu ---------------------- */

.menu-frame {
    background: #000;
    height: auto;
}
.search-input {
    width: 300px !important;
}
.menu-bar {
    margin-bottom: -20px !important;
}


.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
}
.clear {
    clear: both;
}
/* ---------------------------- social ---------------------- */

.social-frame {
    height: auto;
}
.social-frame .social-section {
    height: auto;
}
.social-frame .social-section .social {
    margin-left: 10px;
    margin-top: 10px;
}

.social-frame .social-section .apps-links {
    min-height: 40px;
}
.apps {
    display: inline-block;
    margin-left: 10px;
}
/* ---------------------------- Promotion Banner-Section ---------------------- */


.promotion-banner-section {
    margin-top: 16px;
}
.promotion-banner-section a{
	display: block;
}
/* ---------------------------- Post-Section ---------------------- */

.post-section {
    background: #f4f4f4;
}
.album-collection-section {
    height: auto;
    margin-bottom: 15px;
}
.album-collection-section h3 {
    padding: 10px 0 10px 10px;
    background: #7e297e;
    text-align: center;
    color: #fff;
}
.album-card-container {
    display: block;
    min-height: 220px;
    background: #fff;
    border: 3px solid #ececec;
    margin-top: 10px;
    padding: 6px;
    text-decoration: none !important;
}
.album-card-container  h5{
font-size: 1.5em;
color: #7C287D;
}
.album-card-container:hover {
    border: 3px solid #b5b3b3 !important;
    box-shadow: 3px 3px 10px #ada9a9;
}
.album-card-container .album-artwork {
    width: 100%;
    height: auto;
}
.album-card-container .album-artwork:hover {} .ablum-collection-list {
    display: inline-block;
    list-style: none;
}


/*------------------------- payment method section -----------------------------------*/
.payment-methods-frame {
    min-height: 100px;
    padding: 20px 0 10px 0;
}
.payment-methods-frame .container ul {
    padding: 0px !important;
    list-style: none;
}
.icon-rotate {
    padding: 5px;
    -moz-transition: all 0.8s ease-in-out;
    -webkit-transition: all 0.8s ease-in-out;
    -o-transition: all 0.8s ease-in-out;
    -ms-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}
.icon-rotate:hover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}
/*------------------------- payment method section -----------------------------------*/

/*------------------------- Music Chart -----------------------------------*/
.sub-nav ul{
  list-style: none;
}
.sub-nav ul li{
  float: left;
  margin-left: 10px;
  margin-top: 10px;
  background: #e5e5e5;
  padding: 10px;
}
.sub-nav ul li a{
  display: inline-block;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
/*------------------------------FAQ--------------------------*/
.faq_question{
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 0;
    text-decoration: none !important;
    color: #fff !important;
    font-size: 1.2em;
}
.faq_question:hover{
    color: orange;
}
.panel-heading{
    background: #7C287D !important;
}
.panel-body{
    font-size: 1em;
}
/*---------------------------------------------- Album Detail CSS------------------------------------------*/
.album_detail_container{
     margin-top: -20px;
     margin-bottom: 20px;
}
.album_detail_container .album_pic{
    display: block;
    margin: 20px auto;
    border: 3px solid #9a9a9a;
}
.album_detail_container .album_name{
    text-align: center;
    color:#000;
}
.album_detail_container p{
    text-align: center;
    font-size: 1.2em;
    color: #000;
}
.album_detail_container .album_artist{
    color: orange;
}
.album_detail_container_desktop{
    background: #333;
    margin-top: -20px;
    padding: 16px;
}
.album_detail_container ul{
    display:block;
    width: 350px;
    margin: 0px auto;
}
.album_detail_container ul li{
    float: left;
    display:block; 
    min-height: 28px;
    line-height: 28px;
    padding: 10px;
}
.album_detail_container ul li a{
    display: block;
    color: #fff;
    text-decoration: none;
}
/*.review_album{
    background: #FF6736;
    width: 48px;
    text-align: center;
    font-size: 1.3em;
}
.review_album1{
    background: #009688;
    width: 48px;
    text-align: center;
    font-size: 1.3em;
}
.review_album1:hover{
    background: #007F72;
}
.review_album:hover{
    background: #E0562C;
}*/
.buy_song_btn{
    background:#59B75C;
    color:#fff;padding:10px;
    border-radius:5px;
    text-decoration:none !important;
}
.add_to_cart{
    width: 48px;
    text-align: center;
}
.buy_song_btn:hover{
    background:#4da051;
    color:#fff;
}
.song_detail_wrapper{
    width: 300px;
    height: auto;
    background: #3a3a3a;
    padding: 5px;
    margin-bottom: 15px !important;
}
.song_detail_wrapper .song_detail_inner_col1{
   width: 120px;
   height: 120px;
     float: left;

}
.song_detail_wrapper .song_detail_inner_col2{
    width: 170px;
    min-height: 120px;
    float: left;
    padding: 5px
}

/*------------------- this is inactive css*/
.main_album_detail_info_desktop{
    margin-top: 5px;
}
.main_album_detail_info_desktop h2,h4,p{
    color: #000;
}
/*--------------------------  this is inactive css ----------------*/

































































































































































/*---------------------- footer ----------------------*/

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}
/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}
/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}
.footer-distributed h3 span {
    color: #5383d3;
}
/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}
.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}
.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}
.footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}
.footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
}
.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
    ;
}
/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}
.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}
.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer-distributed .footer-icons {
    margin-top: 25px;
}
.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
    
    .song_detail_wrapper{
 margin: 0px auto;
}

    .footer-distributed {
        font: bold 14px sans-serif;
    }
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}

